.theme-body {
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
}

.title-container {
    background-color: white;
    margin: 1rem auto;

}

.title-content {
    padding: 1rem 0;
    font-size: 0.8rem;
    color: #9C9C9C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-content::before {
    content: '';
    width: 1rem;
    height: 0.07rem;
    margin: 0 1rem;
    background-color: #9C9C9C;
}

.title-content::after {
    content: '';
    width: 1rem;
    height: 0.07rem;
    margin: 0 1rem;
    background-color: #9C9C9C;
}

.form-container{
    border-style:solid;
    border-color: #eae7e7;
}

.form-content {
    padding: 0.8rem 0;
    border-color: white;

}

.form-title-name {
    color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    font-size: 0.9rem;
}

.form-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    margin: 0 auto;
    padding: 0%;
    border: 0rem;
}

.divider-style {
    padding: 1rem 0;
    font-size: 0.8rem;
    color: #9C9C9C;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-style::before {
    content: '';
    width: 1rem;
    height: 0.07rem;
    margin: 0 1rem;
    background-color: #9C9C9C;
}

.divider-style::after {
    content: '';
    width: 1rem;
    height: 0.07rem;
    margin: 0 1rem;
    background-color: #9C9C9C;
}